<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.travel.mapper.SellerMapper">

    <select id="findSellerBySid" parameterType="int" resultType="seller">
        select * from tab_seller where sid = #{sid}
    </select>

</mapper>
